html, body {
  margin-top: 10px;
  padding:0;
  font-family: "Lucida Grande", Verdana;
  font-size: 0.9em;
  background-color:#fff;
}

.pomodoro-counter{
  color: #FFF !important;
  background-color: #33C3F0;
  height: 100px;
}

.pomodoro-counter h3{
  margin-top: -20px !important;
}

.clock-interval{
  color: blue;
}


.centered{
  text-align: center;
}

.centered-div{
  width: 80%;
  margin: 0 auto;
}

.clock{
 width: 80%;
 margin: 0 auto; 
}

.scrollable {
  height:300px;
  width: 550px;
  overflow:auto;
}

.clock-paused{
  color: red;
}

.clock-active{
  color: green;
}

input, select {
    font-size:0.9em;
}

table {
  margin-top:-10px; 
  overflow: scroll;
}



h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:normal;
    color:#23A4FF;
}

a {
    color:#23A4FF;
}

.graph {
  margin-left: -60px !important;
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  /*stroke: #000;
  stroke-width: 2px;*/
}

#selected-period{
  font-size: 0.2em !important;
}

#total-time-tasks{
  margin-left: -50px;
  overflow: auto;
  height: 350px;
  width: 200px;
  border: 1px solid #c8c8c8;
}

.RdYlGn .q0-5{fill:rgb(165,0,38)}
.RdYlGn .q1-5{fill:rgb(215,48,39)}
.RdYlGn .q2-5{fill:rgb(244,109,67)}
.RdYlGn .q3-5{fill:rgb(253,174,97)}
.RdYlGn .q4-5{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}