html, body {
  margin-top: 10px;
  padding:0;
  font-family: "Lucida Grande", Verdana;
  font-size: 0.9em;
  background-color:#fff;
}

#ember-testing-container{
  visibility: visible;
}

.pomodoro-counter{
  text-align: center;
  color: #FFF !important;
  background-color: #33C3F0;
  height: 100px;
}

.pomodoro-counter h3{
  margin-top: -20px !important;
}

.clock-interval{
  color: blue;
}


.centered{
  text-align: center;
}

.centered-div{
  width: 80%;
  margin: 0 auto;
}

.scrollable {
  padding: 15px;
  border: 1px solid #c8c8c8;
  height:300px;
  overflow:auto;
}

.clock-paused{
  color: red;
}

.clock-active{
  color: green;
}

input, select {
    font-size:0.9em;
}

table {
  width: 425px;
  margin-top:-10px; 
  overflow: scroll;
}



h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:normal;
    color:#23A4FF;
}

a {
    color:#23A4FF;
}

.graph {
  width: 450px;
  margin-left: -15px;
  shape-rendering: crispEdges;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  /*stroke: #000;
  stroke-width: 2px;*/
}

#selected-period{
  font-size: 0.2em !important;
}

#total-time-tasks{
  overflow: scroll;
  margin-left: -16px;
  height: 120px;
  width: 425px;
  border: 1px solid #c8c8c8; 
}

#total-time-tasks p{
  margin-bottom: 0rem;  
}

.RdYlGn .q0-5{fill:rgb(234, 234, 234)}
.RdYlGn .q1-5{fill:rgb(211, 220, 119)}
.RdYlGn .q2-5{fill:rgb(137, 180, 35)}
.RdYlGn .q3-5{fill:rgb(78, 140, 50)}
.RdYlGn .q4-5{fill:rgb(41, 81, 27)}
.RdYlGn .q5-5{fill:rgb(10, 42, 4)}

.today-tasks-list{
  list-style-type: none;
  border: 1px solid #c8c8c8;
  height: 200px;
  overflow: scroll;
}

.today-tasks-list li{
  margin-left: 10px;
}

.today-tasks-title{
  display: inline-block;
}

.task-list-controls{
  padding-top: 20px;
}

.task-list-row {
  border-bottom: 1px solid #c8c8c8;
}

.task-list-row:hover {
  border: 2px solid #33c3f0;
  border-color: #33c3f0;
}


.button-icon{
  border-color: #fff;
  background-color: #fff;
  color: #33c3f0;
}

.button-icon:hover {
  border: none !important;
}

th:first-child, td:first-child {
  padding-left: 20px;  
}

.options-list li{
  display: inline-block;
  margin-left: 2rem;
}

.options-list{
  margin-left: 12px;
}

ul{
  margin-bottom: 0;
}

li{
  margin-bottom: 0;
}

i:hover {
  color: #33C3F0; 
  cursor: pointer;
}

.u-pull-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container{
  overflow-x: hidden;
  width: 90%;
  /* border: 1px solid red;*/
}

.row{
  margin-top: 10px; 
  /* border: 1px solid #c8c8c8;*/
}

.columns {
  min-height: 20px;
  /* border: 1px solid blue;*/
}

.column {
  min-height: 20px;
  /* border: 1px solid blue;*/
}

.clock{
  margin: 0 auto; 
  max-width: 300px;
}

.clock-controlls{
  padding: 10px;
  /* border: 1px solid yellow;*/
  max-width: 150px;
}

.task-name:hover {
  color: #33c3f0;
  cursor: pointer;
}

.most-productive {
  padding-bottom: 20px;
}

.most-productive p {
  margin-bottom: 0rem;
}

.edit-view{
  margin-top: 80px;
}

.config-view{
  margin-top: 80px;
}

.options-row{
  margin-bottom: 30px;
}
