html, body {
    margin-top: 10px;
    padding:0;
    font-family: "Lucida Grande", Verdana;
    font-size: 0.9em;
    background-color:#F2F2F2;
}

.clock-interval{
  color: blue;
}

.centered{
  text-align: center;
}

.centered-div{
  width: 80%;
  margin: 0 auto;
}

.clock{
 width: 80%;
 margin: 0 auto; 
}

.scrollable {
  height:300px;
  width: 550px;
  overflow:auto;
}

.clock-paused{
  color: red;
}

.clock-active{
  color: green;
}

input, select {
    font-size:0.9em;
}

table {
  margin-top:-10px; 
  overflow: scroll;
}



h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:normal;
    color:#23A4FF;
}

a {
    color:#23A4FF;
}