<script type="text/x-handlebars">
  <div class='container'>
    <!-- Options -->
    <div class='row options-row'>
      <div class='one column'>
        <i id="test-main-button" {{action "main"}} 
          class="fa fa-chevron-left fa-2x"></i>
      </div>
      <div class='four columns u-pull-right'>
        <ul class="options-list">
          <li>
            <i id="test-statistics-button" {{action "statistics"}}
              class="fa fa-bar-chart fa-2x"></i>
          </li>
          <li>
            <i id="test-config-button" {{action "config"}} 
              class="fa fa-cog fa-2x"></i>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    {{outlet}}
    <div id="main-clock">
      <!-- Clock -->
      <div class='row'>
        <div class="five columns">
          <h4 id="selected-task">{{selectedTaskMsg}}</h4>
        </div>
        <div class="three columns">
          <div id="task-status">
            <h4 class="clock-paused animated infinite flash">[Paused]</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ten columns">
          <div class='clock'>
          </div>
        </div>
        <div class="two columns u-pull-right">
          <div class="pomodoro-counter">
            <p>Streak</p>
            <h3>{{intervalCount}}</h3>
          </div>
        </div>
      </div>

      <!-- Clock Control -->
      <div class='row'>
        <div class="seven columns">
          <div class='clock-controlls u-pull-right'>
            <ul class="options-list">
              <li>
               <i id="test-clock-start" {{action 'startClock'}}
                class="fa fa-play fa-2x"></i>
              </li>
              <li>
                <i id="test-clock-stop" {{action 'stopClock'}} 
                class="fa fa-stop fa-2x"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class='message'></div>
      </div>
    </div>
</script>
