<script type="text/x-handlebars" data-template-name="edit">
  <div class="row">
    <div class="twelve columns">
      <h6>Edit Task</h6>
      <label>Name</label>
      {{input class="u-full-width"type="text" value=name}}
      <div class="color-item" {{bind-attr style=currentColor}}></div>
      <div class="row">
        <h6>Color</h6>
        {{#each item in colorsObj}}
          <div class="row">
            <label>{{item.type}}</label>
            <ul class="color-list">
              {{#each color in item.colors}}
                <li class="color-item" 
                  {{bind-attr style=color.style}}
                  {{action "selectColor" color}}>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/each}}
      </div>
      <hr>
      <div class="row">
        <div class="twelve columns">
          <button type="submit" {{action "save" model}}>Save</button>
          <button type="button" {{action "delete" model}}>Delete</button>
        </div>
      </div>
    </div>
  </div>
</script>
