// Libs
script(src='js/libs/jquery-1.10.2.js')
script(src='js/helpers/string.js')
script(src='js/helpers/date.js')
script(src='js/helpers/JSONIO.js')
script(src='js/helpers/pomodoroStatistics.js')
script(src='js/helpers/windowFunctions.js')
script(src='js/libs/d3.min.js')
script(src='js/libs/jit.js')
script(src='js/helpers/bar-chart.js')
script(src='js/libs/flipclock.js')
script(src='js/libs/handlebars-1.1.2.js')
script(src='js/libs/ember-1.7.0.js')
script(src='js/libs/ember-data.js')
script(src='js/libs/ember-validations.js')
script(src='js/libs/ember-easyForm.js')
// script(src='js/helpers/format-currency.js')
script(src='js/libs/aws-sdk.min.js')


// Helpers
script(src='js/helpers/clock_helper.js')
script(src='js/helpers/aws_helper.js')
script(src='js/helpers/clockState.js')
script(src='js/helpers/pomodoroclock.js')
script(src='js/app.js')

//Views
script(src='js/views/ember_easyform.js')
script(src='js/views/main.js')
script(src='js/views/statistics.js')

//Models
script(src='js/models/arraytransform_helper.js')
script(src='js/models/task.js')

// Routes
script(src='js/routes/router.js')
script(src='js/routes/application.js')
script(src='js/routes/main.js')
script(src='js/routes/statistics.js')
script(src='js/routes/config.js')
script(src='js/routes/new.js')
script(src='js/routes/edit.js')

// Controllers
script(src='js/controllers/application.js')
script(src='js/controllers/main.js')
script(src='js/controllers/statistics.js')
script(src='js/controllers/config.js')
script(src='js/controllers/new.js')
script(src='js/controllers/edit.js')

// - Coment the lines below if you don't want the tests
script(src='js/libs/qunit-1.12.0.js')
script(src='tests/ember-qunit.js')
script(src='tests/tests.js')
script(src='tests/runner.js')
script(src='tests/integration/integration_tests.js')
