<script type="text/x-handlebars" data-template-name="main">
  <!-- Add -->
  <div class='row add-row'>
    <div class='one column u-pull-right'>
      <i {{action "new"}} 
        class="fa fa-plus fa-2x"></i>
    </div>
  </div>

  <!-- Tasks List -->
  <div class='row scrollable'>
    <div class='twelve columns'>
      {{#each task in model}}
        <div class='row'>
          <div class='six columns'>
            <p {{action "selectTask" task.id}}
               class='task-name'>{{task.name}}</p>
          </div>
          <div class='six columns'>
            <span>{{task.pomodoros.length}}</span>
            <i {{action "edit" task}} 
              class="fa fa-ellipsis-h fa-2x u-pull-right"></i>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <!-- Show/Hide -->
  <div class='row'>
    <div class="five columns">
      <h4 id="selected-task">{{selectedTaskMsg}}</h4>
    </div>
    <div class="three columns">
      <div id="task-status">
        <h4 class="clock-paused animated infinite flash">[Paused]</h4>
      </div>
    </div>
    <div class='show-hide one column u-pull-right'>
      <i {{action "showHideTasks"}} 
         class="fa fa-arrow-up fa-2x u-pull-right"></i>
    </div>
  </div>

  <!-- Clock -->
  <div class='row'>
    <div class="ten columns">
      <div class='clock'>
      </div>
    </div>
    <div class="two columns u-pull-right">
      <div class="pomodoro-counter">
        <p>Streak</p>
        <h3>{{intervalCount}}</h3>
      </div>
    </div>
  </div>

  <!-- Clock Control -->
  <div class='row'>
    <div class="seven columns">
      <div class='clock-controlls u-pull-right'>
        <ul class="options-list">
          <li>
           <i id="test-clock-start" {{action 'startClock'}}
            class="fa fa-play fa-2x"></i>
          </li>
          <li>
            <i id="test-clock-stop" {{action 'stopClock'}} 
            class="fa fa-stop fa-2x"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='message'></div>
</script>
