<script type='text/x-handlebars' data-template-name="schedule">
  {{#if loading}} 
    <div class='u-pull-center loading-div'>
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>
  {{else}}
    <div class="row">
      <div class="one column">
        <i class="fa fa-clock-o fa-3x"></i>
      </div>
      <div class="six columns">
        <h5>Schedule</h5>
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <div class="row">
          <p>Select tasks to add in a day of the week</p>
        </div>
        <div class="row">
          {{view Ember.Select
            content=model
            optionValuePath="content.id"
            optionLabelPath="content.name"
            prompt="Select a task"
            selection=selectedTask}}
        </div>
        <div class="row">
          <button type="button" {{action "addTask"}}>
            Add
          </button>  
        </div>
      </div>
      <div class="six columns">
        <div class="row">
          {{view Ember.Select
            content=daysOfTheWeek
            optionValuePath="content.day"
            optionLabelPath="content.day"
            selection=selectedDay}}
        </div>
        <div class="row">
          <div class="schedule-tasks">
            {{#each task in selectedTasks}}
              <div class="schedule-task-row">
                <div class="four columns">{{task.data.name}}</div>
                <div class="six columns">
                  {{input type="number" 
                    class="number-input"
                    value=task.amount name="quantity" min="1"}}
                </div>
                <div class="two columns">
                  <i {{action "removeTask" task}} 
                   class="fa fa-close fa-2x"></i>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="schedule-total-value u-blue u-full-width">
          <p>Total: {{totalTime}}</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
        {{#each item in daysOfTheWeek}}
          <div class="weekdays-container">
            <div class="weekdays-subcontainer">
              <p>{{item.day}}:</p>
            </div>
            {{#each task in item.tasks}}   
              <div class="weekdays-subcontainer" 
                {{bind-attr style=task.style}}>
                <p>{{task.data.name}}</p>
              </div>
            {{/each}}
          </div>
        {{/each}}
    </div>
    <div class="row">
      {{#if saveMessage}}
        <p class="u-warn">Schedule was saved!</p>
      {{/if}}
    </div>
    <div class="row">
      <button type="button" {{action "saveSchedule"}}>
        save
      </button>
    </div>
  {{/if}}
</script>
