<script type='text/x-handlebars' data-template-name="schedule">
  {{#if loading}} 
    <div class='u-pull-center loading-div'>
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>
  {{else}}
    <div class="row">
      <div class="one column">
        <i class="fa fa-clock-o fa-3x"></i>
      </div>
      <div class="six columns">
        <h5>Schedule</h5>
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <div class="row">
          <p>Select tasks to add in a day of the week</p>
        </div>
        <div class="row">
          {{view Ember.Select
            content=model
            optionValuePath="content.id"
            optionLabelPath="content.name"
            prompt="Select a task"
            selection=selectedTask}}
        </div>
        <div class="row">
          <button type="button" {{action "addTask"}}>
            Add
          </button>  
        </div>
      </div>
      <div class="six columns">
        <div class="row">
          {{view Ember.Select
            content=daysOfTheWeek
            optionValuePath="content.day"
            optionLabelPath="content.day"
            selection=selectedDay}}
        </div>
        <div class="row">
          <div class="schedule-tasks">
            {{#each task in selectedTasks}}
              <div class="schedule-task-row">
                <div class="eight columns">{{task.name}}</div>
                <div class="four columns">
                  {{input type="number" 
                    class="number-input"
                    value=task.amount name="quantity" min="1"}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="schedule-total-value u-blue u-full-width">
          <p>Total: {{totalTime}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="weekdays-container">
        {{#each item in daysOfTheWeek}}
          <div class="weekdays-subcontainer">
            <p>{{item.day}}</p>
            {{#each task in item.tasks}}   
              <p>{{task.name}}</p>
            {{/each}}
          </div>
          <hr>
        {{/each}}
      </div>
    </div>
  {{/if}}
</script>
