<script type='text/x-handlebars' data-template-name="statistics">
  {{!-- 
    {{view App.TasksStatisticsView contextBinding="App.Task"}}
  --}}
  <div class="row">
    <div id="test-today-tasks" 
         class="six columns">
      <h6>Today: {{todayTotal}}</h6>
      <h6 class='today-tasks-title' >Week tasks:</h6>
      <ul id="test-week-list" class='today-tasks-list'>
        {{#each task in weekPomodoros}}
          <li>{{task.name}}: {{task.time}}</li>
        {{/each}}
      </ul>
    </div>
    <div id="test-week-tasks" class="six columns">
      <h6>This week: {{weekTotal}}</h6>
      <h6 class='today-tasks-title'>Today tasks:</h6>
      <ul id="test-today-list" class='today-tasks-list'>
        {{#each task in todayPomodoros}}
          <li>{{task.name}}: {{task.time}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div id="test-pom-average" class="row">
    <h6>Average: {{pomAverage}}</h6>
  </div>
  <div class="row">
    {{view Ember.Select
        content=years
        optionValuePath="content"
        optionLabelPath="content"
        selectionBinding=yearStart}}
    {{view Ember.Select
        content=months
        optionValuePath="content.label"
        optionLabelPath="content.value"
        prompt="Start month"
        selectionBinding=monthStart}}
    {{view Ember.Select
        content=years
        optionValuePath="content"
        optionLabelPath="content"
        prompt="Year end"
        selectionBinding=yearEnd}}
    {{view Ember.Select
        content=months
        optionValuePath="content.label"
        optionLabelPath="content.value"
        prompt="Month end"
        selectionBinding=monthEnd}}
    {{view Ember.Select
        content=tasksList
        optionValuePath="content.id"
        optionLabelPath="content.name"
        prompt="Select a task"
        selectionBinding=selectedTask}}
     <!--
      <button type="button" {{action "setPeriod" 7}}>Last Week</button> 
      <button type="button" {{action "setPeriod" 30}}>Last Month</button> 
      <button type="button" {{action "setPeriod" 365}}>Last Year</button> 
    -->
  </div>
  <button type="button" {{action "calculateStatistics"}}>Show Statistics</button> 
  <div class="graph">
  </div>
  <ul id="total-time-tasks" class='today-tasks-list'>
    {{#each task in tasksTotalTime}}
      <li>{{task.name}}: {{task.time}}h</li>
    {{/each}}
  </ul>
  <div class='jit-graphics'>
    <div id="center-container">
      <div id="infovis">
      </div>
      <div id='log'>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns most-productive">
      <b>Most Productive Months:</b>
      {{#each mp in mpMonths}}
        <p>month({{mp.year}}): {{mp.month}}   {{mp.size}}h<p>
      {{/each}}    
    </div>
  </div>
 </script>
