.dropdown-list{
  min-width: 215px;
  margin-top: 20px;
  .dropdown-list-selected{
    border: 2px solid $color;
    height: 30px;
    margin: 0;
    p{
      margin: 0;
      padding-top: 5px;
      padding-left: 5px;
    }
  }
  .dropdown-list-selected:hover{
  }
  .dropdown-list-dropdown{
    margin-top: 2px;
    width: 236px;
    height: 32px;
    position: absolute;
    background-color: #fff;
    z-index: 99;
    border: 2px solid #E91E63;
    display: none;
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style-type: none;
        p{
          margin: 0;
          padding: 5px 0 0 5px;
        }
      }
    }
  }
}

.dropdown-list-show{
  .dropdown-list-selected{
  }
  .dropdown-list-dropdown{
    display: block !important;
  }
}
