.sidenav-list{
  width: 100%;
  height: 100%;
  .sidenav-list-header{
    @include border(bottom);
    height: 130px;
    display: flex;
    flex-flow: column nowrap;
    .sidenav-list-header-header{
      flex: 0 0 33%;
    }
    .sidenav-list-header-body{
      flex: 0 0 33%;
    }
    .sidenav-list-header-footer{
      flex: 0 0 33%;
      justify-content: center;
      .sidenav-list-header-footer-container{
        width: 82%;   
      }
    }
  }
  .sidenav-list-body{
    height: 300px;
    overflow: scroll;
    justify-content: center;
    ul{
      margin: 0;
      padding: 0;
      width: 100%;
      li:hover{
        background-color: $color;
        color: #fff;
        cursor: pointer;
        i{
          color: #fff;
        }
      }
      .active{
        i{
          color: #fff;
        }
      }
      li{
        list-style-type: none;
        height: 40px;
        justify-content: center;
        align-items: center;
        div {
          width: 80%;
          span{
            flex: 0 0 33%;
            i{
              float: right;   
            }
          }
        }
      }
    }
  }
  .sidenav-list-footer{
    @include border(top);
    height: 300px;
    justify-content: center;
    padding-top: 10px;
    .sidenav-list-footer-container{
      width: 90%;
    }
    button{
      margin-left: 5px;
    }
  }
}

.loading-container{
  width: 100%;
  padding-top: 100px;
  i{
    display: block;   
    margin: 0 auto;
    font-size: 3em !important;
  }
}
