//same css as task-form
.tag-form{
  height: 100%;
  width: 100%;
  button{
    margin-top: 20px;
  }
  input{
    margin-top: 20px !important;
    width: 98%;
  }
  .dropdown-list-selected{
    padding: 5px;
  }
  .dropdown-list-dropdown{
    padding: 5px 0 5px 5px;
    width: 232px !important;
  }
}
