doctype html
html
  include includes/head.jade
  script src="node_modules/nw-dev/lib/dev.js"
  body
    //- comment test.html if you don't want the tests
    // include includes/test.html
    include includes/clock.jade
    include includes/tasks_index.jade
    include includes/tasks_show.jade
    include includes/tasks_edit.html
    include includes/tasks_statistics.html
    include includes/config.jade
    include includes/foot.jade
