doctype html
html
  include includes/head.jade
  script src="node_modules/nw-dev/lib/dev.js"
  body
    //- comment test.html if you don't want the tests
    // include includes/test.html
    include includes/app.html
    include includes/main.html
    include includes/config.html
    include includes/statistics.html
    include includes/statistics.html
    include includes/foot.jade
