doctype html
html
  include includes/head.jade
  body
    //- comment test.html if you don't want the tests
    include includes/test.html
    //- include includes/logo.html    
    include includes/clock.jade
    include includes/tasks.jade
    include includes/index.jade
    include includes/tasks_index.jade
    include includes/tasks_show.jade
    include includes/tasks_edit.html
    include includes/tasks_statistics.jade
    include includes/config.jade
    include includes/foot.jade

