doctype html
html
  include includes/head.jade
  body
    include includes/clock.jade
    include includes/tasks.jade
    include includes/index.jade
    include includes/tasks_index.jade
    include includes/tasks_show.jade
    include includes/tasks_edit.html
    include includes/tasks_statistics.jade
    include includes/foot.jade
