script(src='js/libs/jquery-1.10.2.js')
script(src='js/helpers/string.js')
script(src='js/helpers/aws_helper.js')
script(src='js/helpers/date.js')
script(src='js/helpers/JSONIO.js')
script(src='js/helpers/pomodoroStatistics.js')
script(src='js/helpers/windowFunctions.js')
script(src='js/libs/jit.js')
script(src='js/helpers/example1.js')
script(src='js/libs/flipclock.js')
script(src='js/helpers/pomodoroclock.js')
script(src='js/libs/handlebars-1.1.2.js')
script(src='js/libs/ember-1.7.0.js')
script(src='js/libs/ember-data.js')
script(src='js/libs/ember-validations.js')
script(src='js/libs/ember-easyForm.js')
script(src='js/helpers/clockState.js')
script(src='js/app.js')



// Routes
script(src='js/routes/router.js')
script(src='js/routes/task_route.js')
script(src='js/routes/tasks_edit_route.js')
script(src='js/routes/tasks_index_route.js')
script(src='js/routes/tasks_new_route.js')

// Models
script(src='js/models/arraytransform_helper.js')
script(src='js/models/task_model.js')

// Controllers
script(src='js/controllers/application_controller.js')
script(src='js/controllers/task_index_controller.js')
script(src='js/controllers/config_controller.js')

// Views
script(src='js/views/ember_easyform.js')
script(src='js/views/index_view.js')

// - Coment the lines below if you don't want the tests
script(src='tests/vendor/qunit-1.12.0.js')
script(src='tests/ember-qunit.js')
script(src='tests/ember-data-factory.js')
script(src='tests/factories.js')
script(src='tests/tests.js')
script(src='tests/runner.js')