<div class="clock-comp-header column">
  <h3>
    {{min}}:{{sec}}
  </h3>
</div>
<div class="clock-comp-body column">
  <div class="flip-clock-body">
    <a id="fc-test-startbtn" 
      onclick={{action 'playPause'}} 
      href="#" title="Start clock" 
      class="play-button {{if active 'active'}}"></a>
  </div>
</div>
