<div class="tasks-sidepanel-overlay" {{action 'overlayClick'}}>
</div>
<div class="tasks-sidepanel row">
  <div class="tasks-sidepanel-side">
    <button {{action 'showLeftPanel'}}>show</button>
  </div>
  <div class="tasks-sidepanel-aside">
    <button {{action 'showLeftPanel'}}>show</button>
    <!-- include tasks-sidenav here -->
  </div>
</div>
