<div class="main-container column">
  <div class="main-header">
    {{task-info state=model.state}}
  </div>
  <div class="main-body">
    {{clock-comp clock=model.state.clock 
      playPause=(action "playPause")
      stopCB=(action "stopClock")
    }}
  </div>
</div>


