.app-header{
  @include border(bottom);
  height: 56px;
  min-height: 56px;
  .app-header-side{
    padding-left: $padding-side;
    flex: 0 0 20%;
    height: 100%;
    align-items: center;
  }
  .app-header-main{
    flex: 0 1 40%;
    height: 100%;
  }
  .app-header-aside{
    flex: 1 0 40%; 
    height: 100%;
    justify-content: flex-end;
    
  }
}

.menu-options {
  height: 100%;
  padding: 0;
  margin: 0;
  li{
    height: 100%;
    display: inline-block;
    list-style-type: none;   
    .active {
      color: $text-color !important;
      background-color: #fff;   
      border-bottom: 4px solid $color;
    }
    a {
      height: 37px;
      padding: 16px 15px 0px 15px;
      display: inline-block;
      text-decoration: none;
      color: $text-color;
    }
    a:hover {
      background-color: #fff !important;
      border-bottom: 4px solid $color;   
    }
  }   
}

.app-body{
  flex: 0 0 80%;
  height: 80%;
  background-color: #e8e8e8;
  justify-content: center;
  padding-top: 80px;
  .app-body-container{
    flex: 0 0 90%;   
    max-width: 600px;
    height: 400px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #888888;
  }
}

.tasks-button{
  padding: 10px 0px 0px 20px;
  i{
    color: #fff;
  }
  z-index: 99;
  background-color: $color;
  color: #fff;
  position: fixed;
  top: 75px;
  left: -2px;
  width: 35px;
  height: 30px;
}

.tasks-button:hover {
  cursor: pointer;
}
