.app-header{
  @include border(bottom);
  height: 56px;
  .app-header-side{
    padding-left: $padding-side;
    flex: 0 0 20%;
    height: 100%;
    align-items: center;
  }
  .app-header-main{
    flex: 0 1 40%;
    height: 100%;
  }
  .app-header-aside{
    flex: 1 0 40%; 
    height: 100%;
    justify-content: flex-end;
    
  }
}

.menu-options {
  height: 100%;
  padding: 0;
  margin: 0;
  li{
    height: 100%;
    display: inline-block;
    list-style-type: none;   
    .active {
      color: $text-color !important;
      background-color: #fff;   
      border-bottom: 4px solid $color;
    }
    a {
      height: 37px;
      padding: 16px 15px 0px 15px;
      display: inline-block;
      text-decoration: none;
      color: $text-color;
    }
    a:hover {
      background-color: #fff !important;
      border-bottom: 4px solid $color;   
    }
  }   
}

.app-body{
  flex: 1 0 90%;
  height: 90%;
  background-color: #e8e8e8;
}
