.main-container{
  background-color: #c8c8c8;
  height: 200px;
  width: 200px;
  .main-header{
    @include border(bottom);
    flex: 0 0 40%;
    height: 40%;
    overflow: scroll;
    ul{
      margin: 0;
      padding: 0;
      li{
        @include border(bottom);
        list-style-type: none;
        height: 35px;
        padding-top: $padding-top;
        padding-left: $padding-side;
        span{
        }
      }
    }
  }
  .main-body{
  }
}
