$border-color: #c8c8c8;
$padding-side: 20px;
$padding-top: 20px;
$text-color: #c8c8c8;
//$color: #2196F3;
$color: #795548;
//$color: #E91E63;
//$color: #9C27B0;
$color-light: #F48FB1;
$color-warm: #FFC107;

body, html {
  color: $text-color;
  font-family: 
    proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

.icon-button{
  width: 30px;
}

button{
  background-color: $color;
  min-width: 80px;
  height: 26px !important;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h3{
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $color;
}


input{
  border: 2px solid $color;
  display: block;   
  width: 80%;
  height: 23px;
  margin: 0 auto;
}

.active{
  background-color: $color;
  color: #fff;
}



i{
  color: $color;
  font-size: 20px !important;
}

@mixin border($list) {
  @each $value in $list{
    border-#{$value}: 1px solid $border-color; 
  }
}

.root-div{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.centralized{
  justify-content: center;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px){
  .hide-xs{
    display: none !important;   
  }
}
