$border-color: #c8c8c8;
$padding-side: 20px;
$padding-top: 20px;
$text-color: #a8a8a8;
$color: #00baff;

body, html {
  color: $text-color;
  font-family: 
    proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

button{
  background-color: #00baff;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}


input{
  border: 2px solid $color;
  display: block;   
  width: 100%;
  height: 20px;
  margin: 0 auto;
}

.active{
  background-color: $color;
  color: #fff;
}



i{
  color: $color;
  font-size: 20px !important;
}

@mixin border($list) {
  @each $value in $list{
    border-#{$value}: 1px solid $border-color; 
  }
}

.root-div{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px){
  .hide-xs{
    display: none !important;   
  }
}
