index.jade contains all the imported jade files 

head.jade imports the style sheets 

clock.jade is the main template
  header buttons 
  clock and buttons 

tasks.jade don't know whats the use

tasks_index.jade the list of tasks 
  each_task.html is the loop that load the tasks 

tasks_show.jade show information about the tasks 

tasks_edit.jade edit page for the tasks 

tasks_statistics statistics page for the tasks 

config.jade configuration page 

foot.jade imports all the js files needed 
