script(type='text/x-handlebars') 
  {{outlet}}
  .container
    .one-third.column
    .one-third.column
      .row
        .eleven.columns
          .clock
          .message
      .row
        .four.columns
          <button {{action 'startClock'}}>Start</button>
          <button {{action 'stopClock'}}>Stop</button>
    .one-third.column