script(type='text/x-handlebars')
  .container
    .row 
      .four.columns.u-pull-left
        <button id="button-main" type="button" class="button-primary" {{action "main" }}><i class="fa fa-chevron-left fa-2x"></i></button>
      .four.columns.u-pull-right
        <button id="button-statistics" type="button" {{action "statistics" }}><i class="fa fa-bar-chart fa-2x"></i></button>
      .four.columns.u-pull-right
        <button id="button-config" type="button" class="button-primary" {{action "config" }}><i class="fa fa-cog fa-2x"></i></button>   
  {{outlet}}
  
  #clock-container
    .container
      .row
        .one-third.column
          #task-name
        .one-third.column
          #task-status
        .one-third.column.u-pull-right
          <button id="button-show-hide-tasks" type="button" class="button-primary " {{action 'showHideTasks' }}>Show/Hide</button>
      .row
        .twelve.columns.centered
          .ten.columns
            .clock
            .message
          .two.columns.u-pull-right
            .pomodoro-counter
              p Streak
              h3#streak 0
      .row
        .eleven.columns.centered   
          <button id="start-clock" {{action 'startClock'}}><i class="fa fa-play fa-2x"></i></button>
          <button {{action 'stopClock'}}><i class="fa fa-stop fa-2x"></i></button>
        
