script(type='text/x-handlebars')
  .container
    .row 
      .four.columns.u-pull-left
        <button type="button" class="button-primary" {{action "main" }}><</button>
      .four.columns.u-pull-right
        <button type="button" class="button-primary" {{action "config" }}>Config</button>   
  {{outlet}}
  .container
    .row
      .one-third.column
        #task-name
      .one-third.column
        #task-status
      .one-third.column.u-pull-right
        <button type="button" class="button-primary " {{action 'showHideTasks' }}>Show/Hide</button>
    .row
      .nine.columns
        .clock
        .message
    .row
      .nine.columns
        <button {{action 'startClock'}}>Start</button>
        <button {{action 'stopClock'}}>Stop</button>