script(type='text/x-handlebars') 
  {{outlet}}
  .container
    .row
      .six.columns
        #task-name
        #task-status
      .four.columns.u-pull-right
        <button type="button" class="button-primary " {{action 'showHideTasks' }}>Show/Hide</button>
    .row
      .nine.columns
        .clock
        .message
    .row
      .nine.columns
        <button {{action 'startClock'}}>Start</button>
        <button {{action 'stopClock'}}>Stop</button>