script(type='text/x-handlebars') 
  {{outlet}}
  .container
    .row
      .nine.columns
        .clock
        .message
    .row
      .nine.columns
        <button {{action 'startClock'}}>Start</button>
        <button {{action 'stopClock'}}>Stop</button>