script(type='text/x-handlebars') 
		{{outlet}}
		div(class='container')
		div(class='row')
			div(class='four columns')
				div(class='clock')
				div(class='message')
			div(class='four columns')
				<button {{action 'startClock'}}>Start</button>
				<button {{action 'stopClock'}}>Stop</button>