script(type='text/x-handlebars', data-template-name='config')
  .container
    .row
      .eleven.columns
        h6 Configuration
    .row
      .eleven.columns
        .five.columns
          p select a JSON file to use as source
          input(id="sourceDir" type="file" accept=".json")
        .three.columns
          <button type="submit" {{action "chooseAsSource"}}>Choose as source</button> 
    .row
      .eleven.columns
        .five.columns
          p select backup directory
          input(id="destDirectory" type="file" webkitdirectory)
        .three.columns
          <button type="submit" {{action "backupData"}}>make backup</button>
