script(type='text/x-handlebars', data-template-name='config')
  .container
    .row
      .eleven.columns
        h6 Configuration
    .row
      p Using aws: {{usingAws}}
      p Files Path: {{filesPath}}
