// Libs
script(src='js/libs/jquery-1.10.2.js')
script(src='js/helpers/string.js')
script(src='js/helpers/date.js')
script(src='js/helpers/JSONIO.js')
script(src='js/helpers/pomodoroStatistics.js')
script(src='js/helpers/windowFunctions.js')
script(src='js/libs/d3.min.js')
script(src='js/libs/jit.js')
script(src='js/helpers/example1.js')
script(src='js/libs/flipclock.js')
script(src='js/libs/handlebars-1.1.2.js')
script(src='js/libs/ember-1.7.0.js')
script(src='js/libs/ember-data.js')
script(src='js/libs/ember-validations.js')
script(src='js/libs/ember-easyForm.js')
script(src='js/libs/aws-sdk.min.js')
script(src='js/libs/pouchdb.js')


// Helpers
script(src='js/helpers/clock_helper.js')
script(src='js/helpers/aws_helper.js')
script(src='js/helpers/clockState.js')
script(src='js/helpers/pomodoroclock.js')
script(src='js/app.js')
script(src='js/views/ember_easyform.js')
script(src='js/routes/router.js')
script(src='js/models/arraytransform_helper.js')
script(src='js/models/task_model.js')


script(src='js/routes/application_route.js')
script(src='js/routes/task_route.js')
script(src='js/routes/tasks_index_route.js')
script(src='js/controllers/task_index_controller.js')
script(src='js/controllers/tasks_statistics_controller.js')
script(src='js/routes/tasks_edit_route.js')
script(src='js/routes/tasks_new_route.js')
script(src='js/views/index_view.js')
script(src='js/views/tasks_statistics_view.js')

// Controllers
script(src='js/controllers/application_controller.js')
script(src='js/controllers/config_controller.js')
// - Coment the lines below if you don't want the tests
//
