title Pomodoro
link(rel='stylesheet', href='css/styles.css')
script(src='js/libs/jquery-1.10.2.js')
script(src='js/libs/string.js')
script(src='js/libs/date.js')
script(src='js/JSONIO.js')
script(src='js/libs/pomodoroStatistics.js')
script(src='js/libs/windowFunctions.js')
script(src='js/jit.js')
script(src='js/example1.js')
script(src='js/libs/flipclock.js')
script(src='js/libs/pomodoroclock.js')
script(src='js/libs/handlebars-1.1.2.js')
script(src='js/libs/ember-1.7.0.js')
script(src='js/ember-data.js')
script(src='js/ember-validations.js')
script(src='js/libs/ember-easyForm.js')
script(src='js/clockState.js')
script(src='js/app.js')
// - Coment the lines below if you don't want the tests
script(src='tests/vendor/qunit-1.12.0.js')
script(src='tests/ember-qunit.js')
script(src='tests/ember-data-factory.js')
script(src='tests/factories.js')
script(src='tests/tests.js')
script(src='tests/runner.js')

