script(type='text/x-handlebars', data-template-name='tasks/index')
  #tasks
    .container
      .row
        .nine.columns
          .scrollable
            table#tasks_table
              thead
                tr
                  th Activate         
                  th Name 
                  th Pomodoros     
                  th Duration
                  th
                    .wrap
                      <button id="button-new" class="button-primary" {{action "new"}}><i class="fa fa-plus fa-3x"></i></button>
                  tbody
                    include each_task.html



