script(type='text/x-handlebars', data-template-name='tasks')
  .container
    .row 
      .nine.columns
        <button type="button" class="button-primary" {{action "main" }}><</button>
        {{outlet}}
