script(type='text/x-handlebars', data-template-name='tasks/index')
  #tasks
    .container
      .row
       .four.columns
          <button type="button" {{action "statistics" }}>Statistics</button> 
      .row
        .nine.columns
          table#tasks_table
            thead
              tr
                th Activate         
                th Name 
                th Pomodoros     
                th Duration
                th
                  .wrap
                    <button class="button-primary" {{action "new"}}>+</button>
                tbody
                  include each_task.html



