script(type='text/x-handlebars' data-template-name="tasks/statistics")
  .container
    .row
      .one-third.column
        <button type="button" {{action "setPeriod" 7}}>Last Week</button> 
      .one-third.column
        <button type="button" {{action "setPeriod" 30}}>Last Month</button> 
      .one-third.column
        <button type="button" {{action "setPeriod" 365}}>Last Year</button> 
      
    .row
      .five.columns    
        h6 Statistics
      .five.columns
        #selected-period
    .row
      .three.columns
        #total-time-tasks
      .nine.columns
        #center-container
          #infovis
          #log
    .row
      .nine.columns
      .graph