script(type='text/x-handlebars' data-template-name="tasks/statistics")
  {{view App.TasksStatisticsView contextBinding="App.Task"}}
  .container
    .row
      .one-third.column
        <button type="button" {{action "setPeriod" 7}}>Last Week</button> 
      .one-third.column
        <button type="button" {{action "setPeriod" 30}}>Last Month</button> 
      .one-third.column
        <button type="button" {{action "setPeriod" 365}}>Last Year</button> 
    .row
      .five.columns    
        h6 Statistics
      .five.columns
        #selected-period
    .row
      .three.columns
        #total-time-tasks
      .nine.columns
        #center-container
          #infovis
          #log
    .row
      span most productive month 2015: {{mostProductiveMonth[0].month}}
        {{mostProductiveMonth[1].hours}}
      span most productive month 2016: {{mostProductiveMonth[1].month}} 
        {{mostProductiveMonth[1].hours}}
      span most productive month 2017: {{mostProductiveMonth[2].month}} 
        {{mostProductiveMonth[2].hours}}
    .row
      .nine.columns
      .graph
