script(type='text/x-handlebars' data-template-name="tasks/show")
  .container
    .row
      .eleven.columns
        h3 {{name}}
    .row 
      .eleven.columns
        h6 Pomodoros: {{pomodoros.length}} 
    .row
      .eleven.columns
        h6 Total Time: {{totalTime}}
    .row
      .eleven.columns
        h6 Creation Date: {{formated_creation_date}}
    .row
      .eleven.columns
        h6 Last Active: {{formated_last_active}}

