script(type='text/x-handlebars' data-template-name="tasks/statistics")
  {{view App.TasksStatisticsView contextBinding="App.Task"}}
  .container
    .row
      .one-third.column
        <button type="button" {{action "setPeriod" 7}}>Last Week</button> 
      .one-third.column
        <button type="button" {{action "setPeriod" 30}}>Last Month</button> 
      .one-third.column
        <button type="button" {{action "setPeriod" 365}}>Last Year</button> 
    .row
      .five.columns    
        h6 Statistics
      .five.columns
        #selected-period
    .row
      .three.columns
        #total-time-tasks
      .nine.columns
        #center-container
          #infovis
          #log
    .row
      p most productive month 2015: {{mpMonth2015.month}}   {{mpMonth2015.hours}}
      p most productive day 2015: {{mpDay2015.day}}   {{mpDay2015.hours}}
      p most productive month 2016: {{mpMonth2016.month}}   {{mpMonth2016.hours}}
      p most productive day 2016: {{mpDay2016.day}}   {{mpDay2016.hours}}
      p most productive month 2017: {{mpMonth2017.month}}   {{mpMonth2017.hours}}
      p most productive day 2017: {{mpDay2017.day}}   {{mpDay2017.hours}}
    .row
      .nine.columns
      .graph
