script(type='text/x-handlebars' data-template-name="tasks/statistics")
  h1 Statistics
  div(id="container")
    div(id="center-container")
      div(id="infovis")    
      div(id="log")
    a(onclick="init();") init